<li>
    {{ name }}
    {% if children|length %}
        <ul>
            {% for child_name, children_collection in children %}
                {{ include('@PandawanTechnologyCredential/Profiler/_credential.html.twig', {'name': child_name, 'children': children_collection}) }}
            {% endfor %}
        </ul>
    {% endif %}
</li>
