{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set link %}{% endset %}
    {% set icon %}
        <span class="sf-icon">
            {% include '@Security/Collector/icon.svg' %}
        </span>
        <span class="sf-toolbar-value sf-toolbar-info-piece-additional">Credentials</span>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig') }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            {% include '@Security/Collector/icon.svg' %}
        </span>
        <strong>Credentials</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Credentials</h2>
    <ul>
        {% for name, children in collector.sorted %}
            {{ include('@PandawanTechnologyCredential/Profiler/_credential.html.twig') }}
        {% endfor %}
    </ul>
{% endblock %}
